body {
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hero {
  background-repeat: no-repeat;
  background-image: url("../public/hero.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  opacity: 1;
  visibility: inherit;
}

.menu-item {
  background-color: transparent;
  line-height: 22px;
  padding: 16px;
}

a:hover {
  text-decoration: none;
}

.menu-link {
  color: white;
  text-decoration: none;
  text-emphasis: none;
  cursor: pointer;

  :hover {
    color: green;
  }
}



.helper {
  min-height: 24px;
}

.locate {
  min-width: 100px;
}

.to-top {
  position: sticky;
  display: flex;
  justify-content: end;
}

.ip-label {
  font-size: 2rem;
  font-weight: bold;
}

.header {
  border-bottom: 1px solid rgb(255 255 255 / 10%);
  z-index: 110;
  width: 100%;
  height: fit-content;
}

.header-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 0;
}

.fit-content {
  width: fit-content;
}

.form-group {
  gap: 16px;
}

.ip-input {
  color: white;
  margin: auto;
}

.gap-16 {
  gap: 16px;
}

h3 {
  color: rgb(15 99 88);
  font-weight: bold;
  font-family: "playfair display", serif;
}

.section {
  padding-top: 80px;
}

.scroll-down {
  position: absolute;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
  fill: white;

  :hover {
    cursor: pointer;
    fill: green;
  }
}

.ip-form {
  flex-direction: column;
}

.ip-location {
  justify-content: center;
  gap: 64px;
  flex-direction: column;
}

.ip-address {
  min-width: auto;
}

.desktop {
  display: none;
}

.section-content {
  width: 100%;
  max-width: 700px;
}

@media (width> 800px) {
  .desktop {
    display: block;
  }

  .ip-form {
    flex-direction: row;
  }

  .ip-address {
    min-width: 300px;
  }

  .ip-location {
    justify-content: center;
    gap: 64px;
    flex-direction: row;
  }

}